
.container{
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.quadrado{
  background-color:blue;
  color:white;
  width:200px;
  height:200px;
  text-align:center;
  border:20px solid white;
  line-height:150px;
  
}